.auth-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-fondo);
}

.auth-card {
  width: 60%;
  max-width: 1200px;
  height: 75%;
  display: flex;
}

.auth-form {
  width: 50%;
  padding: 0px 50px 0 50px;
  background-color: #fbfbfb;
  box-shadow: 0px 0px 8px 0.5px rgba(0, 0, 0, 0.1);
  border: 1px solid #dfe6e8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.auth-form img {
  width: 100px;
  display: none;
}

.auth-form h2 {
  padding-bottom: 30px;
}

.auth-form form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.auth-label {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--color-oscuro);
}

.auth-label label {
  width: 10%;
  display: flex;
  justify-content: center;
}

.auth-label svg {
  color: var(--color-primario);
}

.auth-label input {
  width: 90%;
  padding: 10px;
  border: none;
  outline: none;
  background-color: transparent;
}

.auth-form button {
  width: 35%;
  margin: auto;
  padding: 10px;
  border-radius: 3px;
  border: none;
  background-color: var(--color-primario);
  color: var(--color-fondo);
  font-size: 11px;
  font-weight: bold;
  cursor: pointer;
}

.auth-form button:hover {
  background-color: var(--color-secundario);
}

.auth-img {
  width: 50%;
  height: 100%;
  background-color: var(--color-primario);
  text-align: center;
  color: white;
  font-size: 12px;
}

.auth-img img {
  width: 100%;
  height: 90%;
  object-fit: contain;
  padding: 50px;
}

.auth-link {
  color: white;
}

.br-right {
  border-radius: 0 10px 10px 0;
}

.br-left {
  border-radius: 10px 0 0 10px;
}

@media (max-width: 1330px) {
  .auth-card {
    width: 80%;
  }
}

@media (max-width: 1000px) {
  .auth-card {
    width: 90%;
  }

  .auth-form button {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .auth-card {
    width: 100%;
    height: 100%;
  }

  .auth-form {
    width: 100%;
    padding: 0 20px 0 20px;
  }

  .auth-form img {
    display: block;
  }

  .auth-card form {
    width: 60%;
  }

  .auth-img {
    display: none;
  }
}

@media (max-width: 550px) {
  .auth-card form {
    width: 80%;
  }
}

@media (max-width: 425px) {
  .auth-card form {
    width: 100%;
  }
}
