.footer-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.footer-info {
  width: 100%;
  padding: 50px 8% 50px 8%;
  display: flex;
  align-items: center;
  gap: 5%;
  color: var(--color-oscuro);
  border-top: 1px solid #aaa;
  background-color: var(--color-fondo);
}

.footer-info-img img {
  width: 150px;
}

.footer-info-section {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  gap: 10px;
}

.footer-info-section span:first-of-type {
  font-size: 20px;
  padding-bottom: 30px;
}

.footer-info-section span:not(:first-child) {
  font-weight: 300;
  color: var(--color-primario);
  cursor: pointer;
}

.footer-end {
  width: 100%;
  padding: 20px 8% 20px 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-oscuro);
}

.footer-text span {
  color: #9ca7aa;
  font-size: 12px;
}

.footer-icons {
  display: flex;
  gap: 10px;
}

.footer-icons svg {
  color: #9ca7aa;
  font-size: 38px;
}

@media (max-width: 680px) {
  .footer-info {
    flex-direction: column;
    padding: 30px 8% 30px 8%;
    gap: 30px;
    text-align: center;
  }

  .footer-end {
    flex-direction: column;
    gap: 10px;
  }
}

@media (max-width: 400px) {
  .footer-text span {
    font-size: 10px;
  }
}
