.products-container {
  width: 85%;
  max-width: 1300px;
  height: 100%;
  margin: auto;
  background-color: #fbfbfb;
  border: 1px solid #dfe6e8;
  border-radius: 3px;
  box-shadow: 0px 0px 8px 0.5px rgba(0, 0, 0, 0.1);
}

.products-title {
  padding: 20px 0 20px 0;
  text-align: center;
  border-bottom: 1px solid #dfe6e8;
}

.products-title h1 {
  text-align: center;
}

.products {
  width: 100%;
  padding: 20px 0 30px 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 50px;
}

.products a {
  text-decoration: none;
}

.product {
  max-width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: transform 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
  margin: 0 20px 0 20px;
}

.product:hover {
  cursor: pointer;
  transform: scale(1.04);
}

.product:not(:hover) {
  transform: scale(1);
}

.product-img {
  position: relative;
}

.see-more-btn {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: white;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.3);
  border: none;
  cursor: pointer;
}

.product img {
  width: 200px;
  height: 220px;
  object-fit: contain;
  align-self: flex-start;
  background-color: #f1f1f1;
  border-radius: 5px;
}

.product-text {
  color: var(--color-oscuro);
  line-height: 2;
}

.product-name {
  font-size: 13px;
}

.product-price {
  font-size: 20px;
  font-weight: 600;
}

.product-rating svg {
  color: #fbbe2d;
  font-size: 18px;
}

.product-rating svg:hover {
  color: #fcd476;
  transform: scale(1.5);
  cursor: pointer;
}

@media (max-width: 805px) {
  .products {
    gap: 20px;
  }
}

@media (max-width: 425px) {
}
